a:link {color: #888888;  text-decoration:none;}
a:visited {color:#888888; text-decoration:none;}
a:hover {color:#444444; text-decoration: underline;}
a:active {color:#444444; text-decoration: underline;}
